.form {
  margin-top: 40px;
  width: 364px;

  background-color: rgba(255, 255, 255, 1);
  & > h2 {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    margin: 0;
    color: #2a2f37;
    margin-top: 24px;
  }
}

.form_subtitle {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #2a2f37;
  margin: 0;
  opacity: 0.4;
  margin-bottom: 14px;
}

.form_link {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 24px;
}

.form_link_activ {
  font-weight: 700;
  font-size: 12px;
  line-height: 20px;
  color: #4877f2;
  border-bottom: 2px solid rgba(72, 119, 242, 1);
  width: 50%;
  pointer-events: none;
  cursor: default;
}

.form_link_item {
  font-weight: 700;
  font-size: 12px;
  line-height: 20px;
  border-bottom: 1px solid rgba(42, 47, 55, 0.12);
  width: 50%;
}


@media screen and (max-width: 990px) {
  .form {
    width: 348px;
  }
}

@media screen and (max-width: 690px) {
  .form {
    width: 288px;
  }
}