.content {
  grid-area: 'content';
  background: rgba(42, 47, 55, 0.02);
  text-align: center;
}

.content__container {
  height: 100%;
  margin: 0 auto;
  max-width: 1170px;
  padding-left: 25px;
  padding-right: 25px;
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.user_menu {
  width: 263px;
  & > ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

.link_back {
  background: none;
  border: none;
  cursor: pointer;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  display: flex;
  justify-content: start;
}

.link_back:hover {
  color: #3a95ff;
}


.table_wrapper {
  width: 100%;
  margin-left: 40px;
}

.table_action {
  position: relative;
  transition: opacity 0.75s ease-out;
  cursor: pointer;

  & > ul {
    list-style: none;
    margin: 0;
    position: absolute;
    right: 0;
    padding-left: 0;
    display: none;
    z-index: 99;
    transition: all 0.3s ease;
    background-color: white;
    & > li > button {
      display: flex;
      align-items: center;
      transition: all 0.3s ease;
      width: 242px;
      height: 40px;
      padding-left: 24px;
      text-align: start;
      border: 1px solid rgba(44, 45, 46, 0.08);
    }
    & > li > button:hover {
      background-color: rgba(44, 45, 46, 0.04);
      color: black;
    }
  }
}

.table_action:hover {
  background: rgba(44, 45, 46, 0.04);
  width: 32px;
  height: 32px;

  & > ul {
    display: block;
  }
}

.table_action_svg {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.table_button {
  width: 129px;
  height: 40px;
}

.table_title {
  text-align: left;
  & > h2 {
    margin: 0;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
  }

  & > span {
    opacity: 0.6;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    margin: 0;
  }
}

.table_search {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
//////////////search//////////////////////////////////

.search_form {
  position: relative;
  width: 420px;
}
.search_input {
  box-sizing: border-box;
  border: 1px solid #4877f2;
  width: 100%;
  height: 40px;
  border-radius: 4px;
  transition: all 0.3s;
  padding-left: 10px;
}

.search_input:focus-visible {
  border: 3px solid #4877f2;
}

.search_button {
  background-color: none;
  border: none;
  position: absolute;
  top: 0;
  right: 0;
}
.search_icon {
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 6px;
  margin-right: 16px;
}

.search_icon_activ {
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 6px;
  margin-right: 16px;
}

.search_icon_activ path {
  stroke: rgb(7, 69, 225);
}

.table_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/////////////////////// TABLE //////////////////////////////////
.table {
  margin-top: 24px;
}

.table_row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-color: white;
  margin-bottom: 8px;
  padding-left: 24px;
  padding-right: 28px;
  justify-items: start;
  align-items: center;
}

.table_row_top {
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  opacity: 0.6;
  height: 40px;
}

.table_row_main {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  height: 80px;
  & > h2 {
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
  }
}
.table_menu {
  width: 100px;
}

.table_name {
  display: flex;
  align-items: center;
  & > a {
    width: 24px;
    height: 24px;
    cursor: pointer;
  }
  & > a:hover {
    & > svg > g {
      opacity: 9;
    }
  }
}

.table_publication {
}

.table_publication_item {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

/////////////////////// FILTER //////////////////////////////////
.filter_container{
  display: flex;
}

.filter {
  padding-left: 8px;
  position: relative;
}

.filter_button {
  display: flex;
  width: 153px;
  height: 40px;
  background: rgba(42, 47, 55, 0.08);
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  align-items: center;
  transition: none;

  & > div {
    width: 24px;
    height: 24px;
    padding-left: 16px;
  }
}

.filter_button:hover {
  color: #4877f2;
  background: rgba(42, 47, 55, 0.08);
  transition: all 0.3s;
  & > div > svg > path {
    stroke: #4877f2;
    transition: all 0.3s;
  }
}

.filter_button:active {
  background: rgba(42, 47, 55, 0.08);
  & > div > svg > path {
    stroke: #4877f2;
  }
}

.filter_button:focus {
  background: rgba(42, 47, 55, 0.08);
  & > div > svg > path {
    stroke: #4877f2;
  }
}
.filter_menu {
  position: absolute;
  right: 0;

  z-index: 99;
  width: 337px;
  // height: 424px;
  background: #ffffff;
  border: 1px solid rgba(44, 45, 46, 0.08);
  padding: 24px;
}

.filter_menu_column {
  text-align: start;
  margin-bottom: 24px;

  & > div > input {
    width: 24px;
    height: 24px;
    background-color: rgba(44, 45, 46, 0.08);
    margin-right: 16px;
  }
}
.filter_menu_span {
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 24px;
}

.filter_checkbox {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.filter_menu_checkboxes {
  display: flex;
  justify-content: space-between;
}

.filter_menu_buttons {
  text-align: start;
  & > button {
    margin-right: 24px;
    border-radius: 4px;
  }
}

.filter_menu_buttons_1 {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  width: 103px;
  height: 40px;
}

.filter_menu_buttons_2 {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #3a95ff;
  width: 103px;
  height: 40px;
}
